@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(https://images.pexels.com/photos/6863332/pexels-photo-6863332.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: cover;
}


.container{
    margin: 200px auto;
    width: 400px;
    height: 450px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    text-align: center;
    background-color: rgb(179, 174, 174, 0.4);

}
button{
    background-color: black;
    color: aliceblue;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
}
label{
    color: rgb(102, 100, 100);
    font-size: large;
    font-weight: 700;
    
}