body{
    margin: 0;
    background-image: url(https://images.pexels.com/photos/876467/pexels-photo-876467.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
  }
  

.container {
    width: 45%;
    margin: 100px auto;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;  
    background-color: rgba(195, 182, 182, 0.02);
  }
  
  h1{
    text-align: center;
    color: rgb(17, 17, 17);
  }
  
  input{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 10px;
  }
  
  button{
    background-color : rgb(4, 0, 255);
    color: white;
    padding: 16px 20px;
    border-radius: 10px;
  }
  
  
  
  .error {
      color: red;
    }
    .valid{
      border: 2px solid green;
    }
    .invalid{
      border: 2px solid red;
  }